
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@import "tailwindcss";


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-loginBg: #f0cad9;
    --color-sidebarColor: #ff79b0;
    --color-textPink: #ff79b0;
    --color-pinkBg: #ff79b0;

}

@import "./base/style.css";

@import "./layouts/footer.css";
@import "./layouts/navigation.css";
@import "./layouts/footnavbar.css";