.input-destination {
    border-radius: 50px;
    padding-left: 20px;
    border: 2px solid #ffc1d6;
    transition: 0.3s;
}

.input-destination:focus {
    border-color: #ff4d94;
    box-shadow: 0 0 0 0.2rem rgba(255, 77, 148, 0.25);
}

.map-container {
    height: 400px;
    border-radius: 1rem;
    overflow: hidden;
}

.btn-count {
    background: linear-gradient(135deg, #ff79b0, #ff4d94 100%);
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.btn-count:hover {
    /* background: linear-gradient(135deg, #ff4d94 0%, #ff79b0 100%); */
    transform: scale(1.05);
}

.output-card {
    display: none;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
