body {
    background-color: #f5f5f5;
    font-family: 'Nunito', sans-serif;
}

/* modal and ongkir */
.map-container {
    height: 350px;
    border-radius: 15px;
}


/* customer-page */
.bg-page {
    background: #f5f5f5;
}

.card {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* hero-section */
.hero-section {
    height: 85vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-section .container {
    position: relative;
    z-index: 1;
}

.bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.6);
}


/* search-bar */
.search-bar-custom {
    border-radius: 50rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.search-bar-custom .input-group-text {
    background-color: white;
    border: none;
    padding-left: 1.5rem;
}

.search-bar-custom .form-control {
    border: none;
    box-shadow: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-primary-pink {
    background-color: #ff79b0;
    color: white;
    border: none;
}

/* featured-card */
.hover-lift {
    transition: all 0.3s ease;
}

.hover-lift:hover {
    transform: translateY(-5px);
}


/* cta-card */
.card-gradient-pink {
    background: linear-gradient(135deg, #ff79b0 0%, #ff4d94 100%);
    color: white;
}



/* product-card */
.product-card {
    background-color: #fffdfd;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(255, 121, 176, 0.1);
    
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(255, 121, 176, 0.25) !important;
}

.badge-pink {
    background-color: #ff79b0;
    color: white;
}

.product-img {
    object-fit: cover;
    transition: transform 0.4s ease;
}

.product-card:hover .product-img {
    transform: scale(1.08);
}

.hover-button {
    transition: all 0.1s ease;
}

.hover-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 121, 176, 0.4) !important;
}

/* empty-state, product-card, index*/
.btn-gradient-pink {
    background: linear-gradient(135deg, #ff79b0 0%, #ff4d94 100%);
    color: white;
    border: none;
    transition: all 0.1s ease;
}

.btn-gradient-pink:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


/* empty-state and product-card*/
.text-pink {
    color: #ff79b0;  
}


/* filter-product */
.custom-select { 
    max-width: 230px; 
    border: 2px solid #ffe4ef; 
    cursor: pointer; 
    font-weight: 500; 
}
.custom-select:focus { 
    border-color: #ff79b0; box-shadow: 0 0 0 0.25rem rgba(255, 121, 176, 0.15); 
}


/* pagination */
.pagination .page-item.active .page-link {
    background-color: #ff4d94;
    border-color: #ff4d94;
    color: #fff;
}